//设置字体
@mixin px2px($name, $px) {
  #{$name}: round($px / 2) * 1px;
  [data-dpr="2"] & {
    color: red;
    #{$name}: $px * 1px;
  }
  // for mx3
  [data-dpr="2.5"] & {
    #{$name}: round($px * 2.5 / 2) * 1px;
  }
  // for 小米note
  [data-dpr="2.75"] & {
    #{$name}: round($px * 2.75 / 2) * 1px;
  }
  [data-dpr="3"] & {
    #{$name}: round($px / 2 * 3) * 1px;
  }
  // for 三星note4
  [data-dpr="4"] & {
    #{$name}: $px * 2px;
  }
}

//单行文本溢出
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//字体大小，颜色
@mixin setFontColor($size, $color) {
  font-size: $size;
  color: $color;
}

@function rem($px) {
  @return ($px / 192)/2 * 1rem;
}

//圆角
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

//translate中间居中
//设置子元素
@mixin translateCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//flex方式中间居中
//设置父元素
@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

//定位居中
//设置子元素
//父元素设置position:relative;
@mixin positionCenter() {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

//table居中
//设置父元素
//子元素设置display:inline-block;
@mixin tableCenter() {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

//定位全屏
@mixin setAllcover {
  position: absolute;
  top: 0;
  right: 0;
}

//宽高
@mixin setWH($width, $height) {
  width: $width;
  height: $height;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin setFJ($type: space-between) {
  display: flex;
  justify-content: $type;
  align-items: center;
}
