/********************************************************
        
        小男孩动作

**********************************************************/

.walk-stop {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
}

.walk-run {
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
}


/**
 * 圣诞小男孩
 */

.christmas-boy {
    width: 3.5rem;
    height: 4.06rem;
    position: absolute;
    z-index: 5;
    right: -3.5rem;
    top: 4rem;
    background: url(http://img.mukewang.com/565d09870001372152510407.png);
    background-size: 1500% 100%;
    background-position: 0% 100%;
}


/**
 * 男孩走路动作
 */

.boy-walk {
    -webkit-animation: boyWalk 0.75s steps(4, end) infinite;
    -moz-animation: boyWalk 0.75s steps(4, end) infinite;
}

@-webkit-keyframes boyWalk {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: -400% 100%;
    }
}

@-moz-keyframes boyWalk {
    0% {
        background-position: 0 100%;
    }
    100% {
        background-position: -400% 100%;
    }
}


/**
 * 脱衣动作
 */

.boy-strip-1 {
    background-position: -800% 100%;
}

.boy-strip-2 {
    background-position: -900% 100%;
}

.boy-strip-3 {
    background-position: -1000% 100%;
}


/**
 * 站立动作
 */

.boy-stand {
    background-position: -400% 100%;
}


/**
 * 打开包裹
 */

.boy-unwrapp {
    -webkit-animation: unwrapp 2s steps(2, end) 1 forwards;
    -moz-animation: unwrapp 2s steps(2, end) 1 forwards;
}

@-webkit-keyframes unwrapp {
    0% {
        background-position: -400% 100%;
    }
    100% {
        background-position: -600% 100%;
    }
}

@-moz-keyframes unwrapp {
    0% {
        background-position: -400% 100%;
    }
    100% {
        background-position: -600% 100%;
    }
}


/**
 * 男孩拥抱
 */

.boy-hug {
    -webkit-animation: boyHug 1s steps(3, end) 1 forwards;
    -moz-animation: boyHug 1s steps(3, end) 1 forwards;
}

@-webkit-keyframes boyHug {
    0% {
        background-position: -1000% 100%;
    }
    100% {
        background-position: -1300% 100%;
    }
}

@-moz-keyframes boyHug {
    0% {
        background-position: -1000% 100%;
    }
    100% {
        background-position: -1300% 100%;
    }
}


/**
 * 男孩头部
 */

.christmas-boy-head {
    left: 7.85rem;
    top: 4rem;
    width: 3.5rem;
    height: 4.06rem;
    position: absolute;
    z-index: 12;
    background: url(http://img.mukewang.com/565d09870001372152510407.png);
    background-size: 1400% 100%;
    background-position: -1300% 100%;
    display: none;
}
