.page-c {
    width: 100%;
    height: 100%;
    /*background-image: url("../images/c/page-c-bg.png");*/
    background-image: url("http://img.mukewang.com/565d0b280001788014410901.png");
    position: absolute;
    z-index: 3;
}


/**
 * 圣诞树位置修正
 */

.treefix {
    width: 1.9rem;
    height: 3.3rem;
    bottom: 1.2rem;
    left: 1.4rem;
}


/**
 * 星星
 */

.page-c svg {
    width: 0.6rem;
    height: 0.6rem;
    position: absolute;
    left: 2.05rem;
    top: 5.1rem;
    z-index: 15;
}


/**
 * 鹿
 */

.deer {
    width: 5rem;
    height: 1.5rem;
    position: absolute;
    z-index: 3;
    bottom: 1rem;
    right: 4rem;
    background: url(http://img.mukewang.com/565d0b1a0001d9aa29660268.png) -300% -100%;
    background-size: 400% 100%;
}


/**
 * 鹿动画
 */

.deer-animate {
    -webkit-animation: deerAnimate 750ms steps(3, end) infinite;
    -moz-animation: deerAnimate 750ms steps(3, end) infinite;
}

@-webkit-keyframes deerAnimate {
    0% {
        background-position: -0% 100%;
    }
    100% {
        background-position: -300% 100%;
    }
}

@-moz-keyframes deerAnimate {
    0% {
        background-position: -0% 100%;
    }
    100% {
        background-position: -300% 100%;
    }
}


/**
 * 窗户
 */

.page-c .window {
    left: 8rem;
}

.window-left.close,
.window-right.close {
    -webkit-animation: closeWindow 2s forwards;
    -moz-animation: closeWindow 2s forwards;
}

@-webkit-keyframes closeWindow {
    100% {
        -webkit-transform: scale(1) rotateY(0deg) rotateZ(0deg);
        margin-right: 0;
        margin-left: 0;
    }
}

@-moz-keyframes closeWindow {
    100% {
        -moz-transform: scale(1) rotateY(0deg) rotateZ(0deg);
        margin-right: 0;
        margin-left: 0;
    }
}


/**
 * 场景背景
 * @type {[type]}
 */

.window-scene-bg {
    background: url(http://img.mukewang.com/565d0b4c0001816b02270135.png);
    background-size: 100% 100%;
    width: 2.26rem;
    height: 1.2rem;
    position: absolute;
    left: 50%;
    bottom: .1rem;
    z-index: -1;
    margin-left: -1.13rem;
    -webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
}


/**
 * 关门背景
 */

.window-close-bg {
    background: url(http://img.mukewang.com/565d0b3d00016a4600810081.png);
    background-size: 100% 100%;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    left: 50%;
    bottom: .1rem;
    margin-left: -0.4rem;
    -webkit-transform: translateZ(-50px);
    -moz-transform: translateZ(-50px);
    opacity: 0;
    z-index: 500;
}
