.el-button span {
  color: #f5f5f5;
}

//搜索
.legao-filter {
  width: 90%;
  margin: 0 auto;
  .el-form-item {
    display: flex;
    font-weight: 800;
    height: 0.33rem;
  }
  .el-form-item__label {
    width: auto;
    text-align: center;
    white-space: nowrap;
  }
  .el-form-item {
    // margin-bottom: 0.1rem;
  }
  .el-button {
    // @include setWH(0.78rem, 0.41rem);
  }
}

//表单
.legao-list {
  width: 95%;
  margin: 0 auto;
  .el-table__header th {
    .cell {
      color: #f5f5f5;
      font-weight: 700;
    }
    background-color: #4b91cd;
    @include setFontColor(0.15rem, white);
  }
  &.legao-table-line {
    .el-table__header th:nth-child(n + 2):before {
      content: "|";
      color: white;
    }
  }
}

.legao-pagination {
  margin-top: 0.3rem;
  margin-right: 0.3rem;
  margin-bottom: 1rem;
  div {
    float: right;
  }
}
