//===================
// 弹出框的公共样式
//===================

//尺寸小
.el-dialog-mini {
  .el-dialog {
    width: 4.3rem;
  }
}

//尺寸中
.el-dialog-middle {
  .el-dialog {
    width: 6.6rem;
  }
}

//大尺寸
.el-dialog-large {
  .el-dialog {
    width: 8.14rem;
  }
}

//头部白色
.el-dialog-white {
  .el-dialog__header {
    background-color: white !important;
    .el-dialog__close {
      color: #606060 !important;
    }
  }
}

//公共弹出框
.dialog-common {
  @include flexCenter;
  .el-dialog {
    margin-top: 0 !important;
    @include borderRadius(0.2rem);
    @include translateCenter;
    .el-dialog__header {
      border-top-left-radius: 0.2rem;
      border-top-right-radius: 0.2rem;
      background-color: #4b91cd;
      height: 0.56rem;
      position: relative;
      .el-dialog__title {
        @include translateCenter;
      }
      .el-dialog__title,
      .el-dialog__close {
        font-size: 0.22rem;
        color: #ffffff;
      }
    }
    .el-dialog__body {
      width: auto !important;
      .title {
        text-align: center;
      }
      p {
        padding-top: 0.1rem;
        font-size: 0.2rem;
      }
      background-color: #ffffff;
    }
    .el-dialog__footer {
      .dialog-footer {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
      background-color: #ffffff;
      border-bottom-left-radius: 0.2rem;
      border-bottom-right-radius: 0.2rem;
      .el-button {
        width: 1.56rem;
        height: 0.49rem;
        font-size: 0.16rem;
      }
    }
  }
}
