//定位上下左右居中
@mixin setCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//字体大小，颜色
@mixin setFontColor($size, $color) {
  font-size: $size;
  color: $color;
}

//圆角
@mixin borderRadius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

//flex方式居中
@mixin setFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

//定位全屏
@mixin setAllcover {
  position: absolute;
  top: 0;
  right: 0;
}

//宽高
@mixin setWH($width, $height) {
  width: $width;
  height: $height;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin setFJ($type: space-between) {
  display: flex;
  justify-content: $type;
  align-items: center;
}
