*{
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.bg-adaptive {
    background-size: 100% 100%;
} 

.container .page-a {
    width  : 100%;
    height : 100%;
    background-image: url("http://img.mukewang.com/565d07770001790814410901.png");
    position: absolute;
    z-index: 5;
}

.container .page-b {
    width  : 100%;
    height : 100%;
    background-image: url("http://img.mukewang.com/565d09fa000145a614410901.png");
    position: absolute;
    z-index: 4;
}

.page-c {
    width  : 100%;
    height : 100%;
    background-image: url("http://img.mukewang.com/565d0b280001788014410901.png");
    position: absolute;
    z-index: 30;
}




/**
 * 页面切换
 * 镜头方法
 */
.effect-out{
    -webkit-animation: effectOut 8s ease-in-out forwards;
    -webkit-transform-origin:71% 72%;
    -moz-animation: effectOut 8s ease-in-out forwards;
    -moz-transform-origin:71% 72%;


}
@-webkit-keyframes effectOut{
    0% { opacity:1; }
    100% { -webkit-transform: scale(20); opacity:0; }
}
@-moz-keyframes effectOut{
    0% { opacity:1; }
    100% { -moz-transform: scale(20); opacity:0; }
}

.effect-in{
    z-index: 15;
    display: block;
    opacity:0;
    -webkit-transform: scale(8); 
    -webkit-animation: effectIn 5s ease-in-out forwards;
    -webkit-transform-origin:58.5% 73.5%;
    -moz-transform: scale(8); 
    -moz-animation: effectIn 5s ease-in-out forwards;
    -moz-transform-origin:58.5% 73.5%;


}
@-webkit-keyframes effectIn{
    100% { -webkit-transform: scale(1); opacity:1; }
}
@-moz-keyframes effectIn{
    100% { -moz-transform: scale(1); opacity:1; }
}